    <!-- Contact -->
    <section id="contact" data-aos="fade-down">
      <div class="contact-container">
        <div class="contact-info">
          <h2>Get in Touch</h2>
          <p>
            We'd love to hear from you! Reach out to DGCC TECH for inquiries,
            collaborations, or services.
          </p>

          <div class="info-item">
            <i class="fa-solid fa-location-dot"></i>
            <p>
              6 Aaromi Street, off Ori-ade Bus Stop, Gasline Agbado, Ogun State.
            </p>
            <p>
              6 Akinguroye Street, off Adelani House, Matogun Ishaga, Ogun
              State.
            </p>
          </div>

          <div class="info-item">
            <i class="fa-solid fa-phone"></i>
            <p>+234 708 252 3166,</p>
            <p>+234 704 537 1328</p>
          </div>

          <div class="info-item">
            <i class="fa-solid fa-envelope"></i>
            <p><a href="mailto:info@dgcctech.com">dgcctech@gmail.com</a></p>
          </div>
        </div>

        <div class="contact-form">
          <form id="messageForm">
            <h3>Send Us a Message</h3>

            <div class="form-group">
              <input type="text" id="name" placeholder="Your Name" required />
            </div>

            <div class="form-group">
              <input
                type="email"
                id="email"
                placeholder="Your Email"
                required
              />
            </div>

            <div class="form-group">
              <textarea
                id="message"
                rows="5"
                placeholder="Your Message"
                required
              ></textarea>
            </div>

            <button type="submit" class="btn2">Send Message</button>
          </form>
        </div>
      </div>
    </section>
    
  <footer>
    <p>&copy; <%= new Date().getFullYear() %> DGCC TECH | All Rights Reserved.</p>
  </footer>

    <!-- JavaScript -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="./script/script.js"></script>
    <script>
      AOS.init({
        duration: 2000, //animation speed
        once: true, //whether animation happens every scroll
      });
    </script>
  </body>
</html>