 /* Services */
    #services {
      padding: 100px 10%;
      background: #fff;
      text-align: center;
    }

    #services h2 {
      color: #2C3192;
      font-size: 2rem;
    }

    #services p {
      margin-top: 8px;
      color: #444;
    }

    .services-cards {
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap;
      gap: 25px;
      margin-top: 40px;
    }

    .card {
      flex: 0 0 23%;
      max-width: 23%;
      background: #fff;
      border-radius: 15px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
      padding: 25px;
      text-align: left;
      transition: all 0.3s ease;
    }

    .card:hover {
      transform: translateY(-5px);
      transition: 0.3s ease;
    }

    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }

    #services .image i {
      font-size: 50px;
      color: #2C3192;
      background: #FECB0A;
      padding: 20px;
      border-radius: 50%;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      transition: 0.3s ease;
    }

    #services .card:hover .image i {
      background: #2C3192;
      color: #FECB0A;
      transform: scale(1.1);
    }

    .card h3 {
      font-size: 1.1rem;
      color: #2C3192;
      margin-bottom: 10px;
    }

    .card p {
      font-size: 0.95rem;
      line-height: 1.6;
      color: #333;
    }

    .btn2 {
      display: inline-block;
      margin-top: 15px;
      padding: 8px 15px;
      border-radius: 8px;
      border: 1px solid #ddd;
      background: #fff;
      font-weight: 600;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
      transition: 0.3s;
    }

    .btn2 a {
      text-decoration: none;
      color: #2C3192;
    }

    .btn2:hover {
      background: #FECB0A;
    }

    /* Responsive Cards */
    @media (max-width: 1000px) {
      .card {
        flex: 0 0 45%;
        max-width: 45%;
      }
    }

    @media (max-width: 700px) {
      .card {
        flex: 0 0 100%;
        max-width: 100%;
      }

      .hero-text h1 {
        font-size: 1.8rem;
      }
    }