/* :root
  --bg-color: #fff;
  --text-color: #222;
  --primary-color: #2c3192;
  --accent-color: #fecb0a;
 } */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fff;
  color: #222;
  overflow-x: hidden;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #fff;
  color: #2C3192;
  border-bottom: 3px solid #FECB0A;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  z-index: 100;
  transition: 0.3s ease;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 1.1rem;
}

.brand .logo {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  object-fit: cover;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #2C3192;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #daac09;
  transform: translateY(-2px);
}

/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #2C3192;
  border-radius: 3px;
  transition: 0.3s;
}



@media (max-width: 800px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background: #ffffff;
    flex-direction: column;
    text-align: center;
    border-top: 2px solid #FECB0A;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  }

  .nav-links.active {
    display: flex;
    animation: fadeIn 0.3s ease;
    transition: 0.3s ease;
  }

  .nav-links a {
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  .hamburger {
    display: flex;
  }
}

/*Theme Button*/
.theme-btn {
  background: transparent;
  border: 2px solid #2C3192;
  border-radius: 5%;
  font-size: 0.5rem;
  cursor: pointer;
  padding: 8px 10px;
  color: #2C3192;
  transition: all 0.3s ease;
}

.theme-btn:hover {
  background: #daac09;
}


/* Hero */
#hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 10%;

}



.hero-text h1 {
  font-size: 2.5rem;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1rem;
  margin-bottom: 25px;
  color: #eee;
}

.hero-text span {
  color: #FECB0A;
  font-weight: 600;
}

.hero-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn,
.btn-outline {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  transition: 0.3s;
  font-size: 0.9rem;
  font-weight: 600;
}

.btn {
  background: #FECB0A;
  transform: scale(1);
  color: #111;
}

.btn:hover {
  background: #ffd84d;
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn-outline {
  border: 1px solid #FECB0A;
  color: #FECB0A;
}

.btn-outline:hover {
  background: #ffd84d;
  border: none;
  color: #111;
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
  text-align: center;
  padding: 30px 0;
  background: #2C3192;
  color: #fff;
  margin-top: 60px;
}

/*ANIMATIONS*/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Cards */
@media (max-width: 1000px) {
  .card {
    flex: 0 0 45%;
    max-width: 45%;
  }
}

@media (max-width: 700px) {
  .card {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .hero-text h1 {
    font-size: 1.8rem;
  }
}